.poweredbystripe {
    margin-top: 10px;
    float: right;
    background: #066EE1;
    background: #017aff;
    height: 27px;
    padding: 0 10px;
    line-height: 27px;
    display: block;
    color: #fff;
    vertical-align: top;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#78b8ff), to(#017aff));
    -webkit-border-radius: 30px;
    -webkit-box-shadow: inset 0 1px 0 #98c9ff;
    background-image: -moz-linear-gradient(-90deg, #78b8ff, #017aff);
    -moz-border-radius: 30px;
    -moz-box-shadow: inset 0 1px 0 #98c9ff;
}

.poweredbylink {
}

a.poweredbylink:hover {
    text-decoration: none;
}